.container{
     float: none;
     margin: 0 0 0 0;
     padding: 0 0 0 0;
     width: 100%;
     box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
 .feature {
     padding: 5px 0 0 0;
     font-size: 25px;
     text-shadow: 2px 2px 4px grey;
}
 .logoImage{
    width:70px;
    height:70px;
}
/*.citat {
     padding: 150px 0 50px 0;
}
*/
 .collapse2, .card-clps-title{
     display: none;
}
/*.panel-group{
     padding-top:0.4rem;
}
*/
 .fixed-image {
     background-position: center center;
     background-repeat: no-repeat;
     height: 450px;
     background-image:url('../images/Fereastrajpg1000.jpg');
     background-attachment: fixed;
     -moz-background-size: cover;
     -webkit-background-size: cover;
     background-size: cover;
}
 .bar {
     background-image:url("../images/bar.png");
     background-size: cover;
     opacity: 0.5;
     width:100%;
     margin-top: 250px;
}
 ul, li, i{
    list-style-type: none;
}
 .img-w3 {
     width: 10rem;
}
 .img-b{
     width: 7rem;
}
 .card-title{
     color: #2d3c49;
}
 .student{
     padding: 7px 0px 0px 0px;
     text-shadow: 2px 2px 4px grey;
}
 .card{
     position: absolute;
     border: 1px solid #333;
     margin: 2% 0 2% 0;
     padding: 0 0 0 0;
     overflow: hidden;
     max-width: 100%;
     -moz-transition: all 0.3s;
     -webkit-transition: all 0.3s;
     transition: all 0.3s;
     box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
 img {
     max-width: 100%;
     height:100%;
     -moz-transition: all 0.3s;
     -webkit-transition: all 0.3s;
     transition: all 0.3s;
}
 img[class*="card"]:hover {
     -moz-transform: scale(1.1);
     -webkit-transform: scale(1.1);
     transform: scale(1.1);
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}
 @media screen and (max-width:767px) {
    /*Hide fixed card content */
     .card-text, .card-title, ul.list-group, .img-b, .img-w3{
         display: none;
    }
     .last{
        width:700px;
    }
     .fixed-image {
        background-image:url('../images/Fereastrajpg600.jpg');
    }
    /*Show colapsed card content*/
     ul.collapse2, .card-clps-title{
         display: inline;
    }
     .copyright{
        font-size:1.0em;
    }
     .feature {
        font-size:1.1em;
    }
     .student, .contact{
        font-size:1.7em;
    }
     .card-clps-title, .card-link, .card-text, .list-group-item{
        font-size:1.3em;
    }
     h1.contact{
        width:250px;
    }
}
 @media screen and (max-width:414px) {
     .copyright{
        font-size:0.9em;
    }
     .feature {
        font-size:1.3em;
    }
     .student, .contact{
        font-size:1.7em;
    }
     .card-clps-title, .card-link, .card-text, .list-group-item{
        font-size:1.2em;
    }
     .fixed-image {
        height: 350px;
    }
     .second{
        width:400px;
    }
}
 @media screen and (max-width:345px) {
     .copyright{
        font-size:0.7em;
    }
     .feature {
        font-size:1.2em;
    }
     .student, .contact{
        font-size:1.5em;
    }
     .card-clps-title, .card-link, .card-text, .list-group-item{
        font-size:1.1em;
    }
}
