/*Reset container attributes for best view.*/
.container {
     float: none;
     margin: 0 0 0 0;
     padding: 0 0 0 0;
     width: 100%;
     box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

/*Set feature bar attributes.*/
 .feature {
     padding: 5px 0 0 0;
     font-size: 1.8em;
     text-shadow: 2px 2px 4px grey;
}

/*Set logo image attributes.*/
 .logoImage {
    width:70px;
    height:70px;
}

/*Hide collapsable content.*/
 .collapse2,
 .card-clps-title {
     display: none;
}

/*Main picture attributes.*/
 .fixed-image {
     background-position: center center;
     background-repeat: no-repeat;
     height: 450px;
     background-image: url(../images/Fereastrajpg1000.jpg);
     background-attachment: fixed;
     -moz-background-size: cover;
     -webkit-background-size: cover;
     background-size: cover;
}

/*Main picture bar attributes.*/
 .bar {
     background-image: url(../images/bar.png);
     background-size: cover;
     opacity: 0.5;
     width: 100%;
     margin-top: 250px;
}

/*Remove bullet points.*/
 ul,
 li,
 i {
    list-style-type: none;
}

/*Footer images dimentions.*/
 .img-w3 {
     width: 10em;
	 padding-top:0.7em;
	 -moz-transition: all 0.3s;
     -webkit-transition: all 0.3s;
     transition: all 0.3s;
}

 .img-b {
     width: 7em;
	 padding-top:0.7em;
	 -moz-transition: all 0.3s;
     -webkit-transition: all 0.3s;
     transition: all 0.3s;
}

/*Set card tittle color.*/
 .card-title {
     color: #2d3c49;
}

/*Align student name.*/
 .student {
     padding: 7px 0px 0px 0px;
     text-shadow: 2px 2px 4px grey;
}

/*Reset card attributes for best view.*/
 .card{
     position: absolute;
	 border: 1px solid #333;
     margin: 2% 0 2% 0;
     padding: 0 0 0 0;
     overflow: hidden;
     max-width: 100%;
     -moz-transition: all 0.3s;
     -webkit-transition: all 0.3s;
     transition: all 0.3s;
     box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

/*Zoom efect on picture - hover.*/
 img {
     max-width: 100%;
     height: 100%;
     -moz-transition: all 0.3s;
     -webkit-transition: all 0.3s;
     transition: all 0.3s;
}

 img[class*="card"]:hover {
     -moz-transform: scale(1.1);
     -webkit-transform: scale(1.1);
     transform: scale(1.1);
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

/*Tablet devides breackpoint.*/
 @media screen and (max-width:767px) {
    /*Hide fixed card content */
     .card-text,
	 .card-title,
	 ul.list-group {
         display: none;
    }

	/*Change last card width to force align bottom */
     .last {
        width: 700px;
    }

	/*Change main image with smaller one */
     .fixed-image {
        background-image: url(../images/Fereastrajpg600.jpg);
    }

    /*Show colapsed card content*/
     ul.collapse2,
	 .card-clps-title {
         display: inline;
    }

	/*Fond size reduction for better view*/
     .copyright {
        font-size: 1.0em;
    }

     .feature {
        font-size: 1.1em;
    }
     .student,
	 .contact {
        font-size: 1.7em;
    }

     .card-clps-title,
	 .card-link,
	 .card-text,
	 .list-group-item {
        font-size: 1.3em;
    }

	/*Forcefooter layouts to resize for all social icon inclusion on small devices*/
     .img-w3 {
        min-width: 10em;
		text-align: center;
    }

	.img-b {
        min-width: 7em;
		text-align: center;
    }

	.contact {
        min-width: 10em;
		text-align: center;
    }
}

/*Iphone devides breackpoint. Fond size reduction for better view*/
 @media screen and (max-width:414px) {
     .copyright {
        font-size: 0.9em;
    }

     .feature {
        font-size: 1.3em;
    }

     .student,
	 .contact {
        font-size: 1.7em;
    }

     .card-clps-title,
	 .card-link,
	 .card-text,
	 .list-group-item{
        font-size: 1.2em;
    }

	/*Resize main image for small devices view */
     .fixed-image {
        height: 350px;
    }

	/*Resize second card to force align it in canavas*/
     .second {
        width: 400px;
    }

	/*Move white bar for small devices*/
	.bar {
		margin-top: 200px;
	}
}

 /*Small devides breackpoint. Fond size reduction for better view*/
 @media screen and (max-width:345px) {
     .copyright {
        font-size: 0.7em;
    }

     .feature {
        font-size: 1.2em;
    }

     .student,
	 .contact {
        font-size: 1.5em;
    }

     .card-clps-title,
	 .card-link,
	 .card-text,
	 .list-group-item{
        font-size: 1.1em;
    }
}
